{
	"recommendations": [
		"aaron-bond.better-comments",
		"antfu.file-nesting",
		"bierner.markdown-preview-github-styles",
		"christian-kohler.path-intellisense",
		"davidanson.vscode-markdownlint",
		"editorconfig.editorconfig",
		"github.vscode-github-actions",
		"ibm.output-colorizer",
		"lacroixdavid1.vscode-format-context-menu",
		"mhutchie.git-graph",
		"redhat.vscode-yaml"
	]
}
