// SPDX-FileCopyrightText: {{year}} {{author}}
//
// SPDX-License-Identifier: MPL-2.0

#include "{{project_symbol}}/project_info.hpp"

int main() {
	return {{project_symbol}}::project_name() == "{{project_name_string}}" ? 0 : 1;
}
